<%= form_for(@Menu) do |f| %>
  <% if @Menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= @Menu.errors.count %> 件のエラーがあります:</h2>

      <ul>
      <% @Menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %><br>
  </div>
  
  <div class="field">
    <%= f.file_field :image %><br>
    <%##= f.hidden_field :image %><br>
  </div>
  
  <br>
  <h1>この料理の味を指定してください！</h1>
  <div class="field">
    <% %w(甘い 辛い しょっぱい すっぱい こってり あっさり).each.with_index do |taste,i| %>
    
    <% if @taste.nil? %>
      <label>
        <%= check_box_tag 'menu[taste][]', taste,false ,id:"menu_taste_#{i}"%>
        <%= taste %>
      </label>
    <% else %>
      <label>
        <%= check_box_tag 'menu[taste][]', taste,@taste.split(/\s*,\s*/).include?(taste),id:"menu_taste_#{i}"%>
        <%= taste %>
      </label>
    <% end %>
    <% end %>
    
  </div>
  <div class="actions">
    <%= f.submit'投稿', class: 'btn btn-primary btn-block' %><br>
  </div>
<% end %>