<h1>今日の夕飯考えよう！！のページ</h1>
<p class="flash"><%= notice %><%= alert %></p>
  <tbody>
  <h1>この料理の味を指定してください！</h1>
  
  <%= form_tag instagrams_path, :method => 'get' do %>
  <div class="field">
    <% %w(甘い 辛い しょっぱい すっぱい こってり あっさり).each.with_index do |taste,i| %>
      <label>
        <%= check_box_tag 'instagram[taste][]', taste,false ,id:"instagram_taste_#{i}"%>
        <%= taste %>
      </label>
    <% end %>
  </div>
  <%= submit_tag '料理検索実行', class: 'btn btn-default btn-sm btn-success' %>
  <% end %>