<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-xs-10">
<p id="notice"><%= notice %></p>

<h1>練習用ページ大課題３</h1>
<p class="flash"><%= notice %><%= alert %></p>
  <tbody>
    <% @instagrams.each do |instagram| %>
        
        <p>投稿者：<%= instagram.user.try(:name) || "名無し" %></p>
        <p>本文：<%= instagram.content %><p><br>
        <div class="instagram_img"><%= image_tag instagram.image %></div><br>
        
        <%= link_to 'Show', instagram_path(instagram), class: 'btn btn-default btn-sm btn-success' %>
        
        <% if current_user.id == instagram.user.id %>
          <%= link_to 'Edit', edit_instagram_path(instagram), class: 'btn btn-default btn-sm btn-success' %>
          <%= link_to 'Destroy', instagram_path(instagram), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm btn-success' %>
        <% end %>
    <br><br>
    <% end %>

<br>

<%= link_to '投稿', new_instagram_path, class: 'btn btn-default btn-sm btn-success' %>
</div>
</div>