<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-xs-10">
<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @Instagram.content %>
</p>
<p class="right">
  <strong>作成時間:</strong>
  <%= @Instagram.created_at.strftime("%y/%m/%d %p %l:%M") %>
</p>
<p>
  <strong>Image:</strong>
  <div class="instagram_img"><%= image_tag @Instagram.image %></div><br>
</p>
<% if current_user.id == @Instagram.user.id %>
  <%= link_to 'Edit', edit_instagram_path(@Instagram), class: 'btn btn-primary btn-block' %>
<% end %>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, instagram: @Instagram } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, instagram: @Instagram } %>
    <% if current_user.id == @Instagram.user_id %>
      <%= link_to '編集', edit_instagram_path(@Instagram) %> |
    <% end %>
<%= link_to 'Back', instagrams_path, class: 'btn btn-primary btn-block' %>

</div>
</div>